<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{subject}}</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="email-container">
        <div class="header">
            <h1>{{title}}</h1>
        </div>
        <div class="content">
            <p>{{message}}</p>
            <a href="{{buttonLink}}" class="button">{{buttonText}}</a>
        </div>
        <div class="footer">
            <p>Thank you for choosing our service!</p>
            <p>&copy; {{year}} Rishabh Firm. All rights reserved.</p>
        </div>
    </div>
</body>

</html>